div.page{
    display: flex;
}

div.game{
    display: inline-block;
    margin-right: 10px;
}

div.rank{
    display: inline-block;
    margin: 0;
    width: 450px;
    background-color: #be2edd;
    margin-top: 2px;
}

p.rankName{
    background-color: #e056fd;
    color: white;
    height: 47px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding-top: 3px;
}

table{
    border-collapse: collapse;
    width: 100%;
    color: white;
    text-align: center;
}

th{
    font-size: 22px;
}

td {
    font-size: 20px;
}

div.gamepage{
    background-color: black;
    width: 420px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.gameTitle{
    background-color: #7bed9f;
    font-size: 30px;
    font-weight: 600;
    width: 420px;
    height: 47px;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 0px;
    padding-top: 3px;
    text-align: center;
}

.buttons {
    background-color: #ff4757;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5%;
    align-content: center;
    margin: 0;
    cursor: pointer;
}

#startBtn{
    background-color: #ff4757;
}

#startBtn:disabled {
    background-color: grey;
    cursor: default;
}

#restartBtn{
    background-color: #2ed573;
}

#submitBtn{
    background-color: #f78fb3;
}

#submitBtn:disabled {
    background-color: grey;
    cursor: default;
}